<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mindmotion.dbmanager.mapper.TablesMapper">
    <select id="findTablesByAccount" parameterType="String" resultType="com.mindmotion.dbmanager.entity.Tables">
        SELECT id, account, name, status, operator, crTime, updateTime
        FROM tables
        WHERE account = #{account}
    </select>

    <select id="tablesFindByAccountAndName" parameterType="com.mindmotion.dbmanager.entity.Tables" resultType="com.mindmotion.dbmanager.entity.Tables" statementType="CALLABLE">
        {call tablesFindByAccountAndName(
            #{account, mode=IN}
           ,#{name, mode=IN}
           )
        }
    </select>

    <insert id="save" parameterType="com.mindmotion.dbmanager.entity.Tables" statementType="CALLABLE">
        {call tablesSave(
            #{id, mode=OUT, jdbcType=INTEGER}
           ,#{account, mode=IN}
           ,#{name, mode=IN}
           ,#{status, mode=IN}
           ,#{operator, mode=IN}
           )
        }
    </insert>
</mapper>